* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Nunito', sans-serif;
}
.cursor{
    cursor: pointer;
}
.pink{
    color: #EC4067;
}
.blackish{
    color: #252E35;
}