* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Nunito', sans-serif;
}
.cursor{
    cursor: pointer;
}
.pink{
    color: #EC4067;
}
.black{
    color: #252E35;
}
.section{
    width: 100%;
    position: relative;
    height: fit-content;
    background-color: white;
}
.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 10px;
}
.navbar .menulink{
    text-decoration: none;
    color: black;
}
.navbar .menuItems{
    list-style: none;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
}
.navbar ul{
    display: flex;
}
.logo{
    font-size: 27px;
    font-weight: bold;
}
.pinkButton{
    background-color: #EC4067;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}
.partTwo{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}
.rightSide{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overall{
    width: 100%;
    height: fit-content;
}
.p1{
    font-size: 20px;
}
.p2{
    font-size: 42px;
    font-weight: 100;
}
.twoButtons{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.btn1{
    background-color: #EC4067;
    color: white;
    width: 45%;
    border: none;
    padding: 10px 0;
    font-size: 17px;
    border-radius: 5px;
}
.btn2{
    background-color: white;
    color: #EC4067;
    width: 45%;
    border: solid #EC4067 1px;
    padding: 10px 0;
    font-size: 17px;
}
.leftSide{
    width: 40%;
    height: 400px;
}
.p3{
    width: 75%;
    margin: 25px 0;
    align-items: center;
    font-size: 18px;
}
.leftSide img{
    width: 100%;
    height: 100%;
}